<div class="container">
  <div class="row">

    <div class="col">
      <!-- <img src="https://www.bike24.com/images/bike24-logo.svg" alt="Bike24 Logo" width="200" /> -->
    </div>
    <div class="p-2 mb-24">
      <h1>Bike24 Challenge</h1>

    </div>
  </div>

  <div class="row pt-5">
    <div class="col-3 pt-12">
      <div class="form-group">
        <label for="product" class="product_label">Select a Product</label>
        <select id="product" class="form-select form-select-lg mt-1" [(ngModel)]="selectedProduct"
          name="selectedProduct">
          <option *ngFor="let product of products" [ngValue]="product" class="p-4">
            {{ product.productName }} &nbsp;-&nbsp; {{ product.price | currency }}
          </option>
        </select>
      </div>

    </div>
    <div class="col-2">
      <h5 class="pb-3">Select Quantity</h5>
      <input type="range" id="slider_quantity" class="form-range" min="1" [max]="selectedProduct?.maxAmount"
        [(ngModel)]="quantity" name="quantity" />

    </div>

    <div class="col-2">

      <div class="form-group pt-4">
        <input type="number" (keyup)="preventMoreThanMax($event)" id="input_quantity"
          class="form-control form-control-lg" min="1" size="6" [max]="selectedProduct?.maxAmount"
          [(ngModel)]="quantity" name="quantity" />

      </div>
    </div>
    <div class="col-2 pt-4">
      <p class="pt-2" style="margin-left:-10px;">
        x
        <span class="currency_amount">
          {{selectedProduct.price | currency }}
        </span>
        =
        <span class="currency_amount">
          {{ selectedProduct?.price * quantity | currency}}
        </span>
      </p>
    </div>

    <div class="col">

      <button type="button" class="btn btn-primary btn-lg mt-4" (click)="addToCart()">
        Add to Cart
      </button>

    </div>
  </div>
  <form>
  </form>
</div>